<div class='container'>
    <table class='table table-striped'>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Wydawca</th>
            <th>Rok Wydania</th>
            <th>ISBN</th>
            <th>Liczba Stron</th>
            <th>Liczba sztuk</th>
        </tr>
        <% @items.each do |item| %>
        <tr>
            <td><%= Book.find(item.book_id).title %></td>
            <td><%= Book.find(item.book_id).author %></td>
            <td><%= Book.find(item.book_id).publisher %></td>
            <td><%= Book.find(item.book_id).pdate %></td>
            <td><%= Book.find(item.book_id).isbn %></td>
            <td><%= Book.find(item.book_id).pages %></td>
            <td><%= item.quantity %></td>
        </tr>
        <% end %>
    </table>
</div>