<% if !logged_in? %>
    <h2 align='center'><%= link_to "Zaloguj się, aby zamówić książki", login_path %></h2>
<% end %>
<div align="center"><%= will_paginate %></div>
<div class='container'>
    <table class='table'>
        <tr>
            <th>Okładka</th>
            <th>Kategoria</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Wydawca</th>
            <th>Rok Wydania</th>
            <th>ISBN</th>
            <th>Liczba Stron</th>
            <th>Cena</th>
            <th>Egzemplarze</th>
        </tr>
        <% if @books.present? %>
            <% @books.each do |b| %>
                <tr>
                    <td>
                        <%= link_to book_path(b) do %>
                        <%= image_tag b.avatar.url(:thumb) %>
                        <% end %>
                    </td>
                    <td>
                        <% b.categories.each do |c| %>
                        <span class="label label-primary"><%= c.name %></span></br>
                        <% end %>
                    </td>
                    <td>
                        <%= b.title %>
                    </td>
                    <td><%= b.author %></td>
                    <td><%= b.publisher %></td>
                    <td><%= b.pdate %></td>
                    <td><%= b.isbn %></td>
                    <td><%= b.pages %></td>
                    <td><%= b.price %> zł</td>
                    <% if b.copies >= 100 %>
                    <td><font color="green"><%= b.copies %></font></td>
                    <% elsif b.copies > 10 && b.copies<100 %>
                    <td><font color="orange"><%= b.copies %></font></td>
                    <% else %>
                    <td><font color="red"><%= b.copies %></font></td>
                    <% end %>
                    <% if logged_in? && current_user.admin? %>
                    <td><%= link_to 'Edytuj', edit_book_path(b.id), class: "btn btn-xs btn-primary" %></td>
                    <td><%= link_to 'Usuń', book_path(b.id), method: :delete, class: "btn btn-xs btn-danger" %></td>
                    <% end %>
                    <% if logged_in? %>
                    <td>
                        <%= form_tag(item_orders_path, :method => 'get') do %>
                        <div class='form-group'>
                        <%= number_field_tag 'quantities', 1, min: 1, max: b.copies, class: 'form-control' %>
                        </div>
                        <%= hidden_field_tag 'book',  b.id %>
                        <%= submit_tag "Dodaj do koszyka", class: 'btn btn-success' %>
                        <% end %>
                    </td>
                    <% end %>
                </tr>
            <% end %>
              </table>
        <% else %>
            <p>Nie znaleziono</p>
        <% end %>

</div>
<div align="center"><%= will_paginate %></div>