<div align="center"><%= will_paginate %></div>
<div class='jumbotron'>
    <table class='table'>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Wydawca</th>
            <th>Rok Wydania</th>
            <th>ISBN</th>
            <th>Liczba Stron</th>
            <th>Cena</th>
            <th>Egzemplarze</th>
        </tr>
        <% @books.each do |b| %>
            <tr>
                <td><%= link_to "#{b.title}", book_path(b.id) %></td>
                <td><%= b.author %></td>
                <td><%= b.publisher %></td>
                <td><%= b.pdate %></td>
                <td><%= b.isbn %></td>
                <td><%= b.pages %></td>
                <td><%= b.price %></td>
                <td><%= b.copies %></td>
                <td><%= link_to 'Edytuj', edit_book_path(b.id), class: "btn btn-xs btn-primary" %></td>
            </tr>
        <% end %>
    </table>
</div>
<div align="center"><%= will_paginate %></div>