<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BookShopOnline", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Lista książek", books_path %></li>
        <% if logged_in? && current_user.admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panel Admina <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Dodaj książkę", new_book_path %></li>
            <li><%= link_to "Dodaj sposób dostawy", new_delivery_path %></li>
            <li><%= link_to "Lista użytkowników", users_path %></li>
            <li><%= link_to "Zamówienia", adminorders_path %></li>
          </ul>
        </li>
        <% end %>
        <li><%= link_to "Kategorie", categories_path %></li>
      </ul>
      <%= form_tag(books_path, :method => "get", class: 'navbar-form navbar-left' ) do %>
      <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj książkę", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= select_tag "category", options_for_select([["Tytuł","title"], ["Autor","author"], ["Wydawca", "publisher"], ["Data wydania","pdate"], ["ISBN", "isbn"]], "Książka"), class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= select_tag 'price', options_for_select([["Cena rosnąco", "ASC"],["Cena malejąco", "DESC"]]), class: 'form-control' %>
      </div>
      <%= submit_tag "Wyszukaj", class: 'btn btn-success' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panel użytkownia <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Adres dostawy", addresses_path %></li>
            <li><%= link_to "Rodzaje przesyłek", deliveries_path %></li>
            <li><%= link_to "Twoje zamówienia", orders_path %> </li>
          </ul>
        </li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "Zamówienie nr #{session[:order_id]}", order_path(session[:order_id]) %></li>
          <li><%= link_to "Wyloguj", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Zaloguj", login_path %></li>
          <li><%= link_to "Zarejestruj", register_path %></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>